@media only screen and (min-width: 660px) {
    nav li {
        display: flex;
        border-right: 1px solid lightgray;
    }
}

@media only screen and (min-width: 840px) {
    .font-size input {
        display: block;
    }
}

@media only screen and (min-width: 1073px) {
    .minor-nav ul {
        visibility: visible;
    }
}