@import "css/_global";
@import "css/_header";
@import "css/_nav";
@import "css/nav/_search";
@import "css/nav/_example";
@import "css/nav/_font-size";
@import "css/nav/color-mode";
@import "css/_main";
@import "css/_footer";
@import "css/media-queries";

.app {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}